################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/contrib/Waterfall/.vs
/contrib/Waterfall/.vs
/src/TheLittleMoeNewLlc.MgWaterfall/bin/Debug/netcoreapp1.1
/src/TheLittleMoeNewLlc.MgWaterfall/obj
/src/TheLittleMoeNewLlc.MgWaterfall/appsettings.Development.json
/src/TheLittleMoeNewLlc.MgWaterfall/wwwroot/lib
/src/TheLittleMoeNewLlc.MgWaterfall/node_modules
/src/TheLittleMoeNewLlc.MgWaterfall/package-lock.json
