@{
    ViewData["Title"] = "New pages";
}

<div id="card-container"></div>

@section Scripts {
    <environment names="Development">
        <script src="~/app/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/app/index.min.js" asp-append-version="true"></script>
    </environment>
}