@{
    ViewData["Title"] = "New pages";
}

<div id="card-container"></div>
<div class="loading-indicator-container">
    <img class="loading-indicator center-block" src="~/images/Blocks.gif" width="36" />
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/app/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/app/index.min.js" asp-append-version="true"></script>
    </environment>
}